Django>=3.2.9
ipython>=7.29.0
python-dotenv>=0.19.2
djangorestframework>=3.12.4
Markdown>=3.3.6
django-filter>=21.1
Telethon>=1.23.0
channels>=3.0.4

# 1) Execute Redis: docker run --rm -p 6379:6379 -d redis:5
# 2) Install channels-redis: pip install channels-redis
# 3) Configure CHANNEL_LAYERS in settings.py
channels-redis>=3.3.1

# Version 3.4.1 is causing a deadlock issue when we call sync_to_async:
# https://stackoverflow.com/a/68553668/16196935
#asgiref==3.3.4

# daphne -b 127.0.0.1 -p 8081 app.asgi:application
daphne>=3.0.2
